/* Estilos para telas maiores que 768px */
body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: end;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 55%;
    height: 100%;
    background-color: #FFE0E6;
    border-radius: 0 100% 100% 0;
    z-index: -1;
}

.container-logo {
    position: fixed;
    top: 5%;
    left: 3%;
    margin: 20px;
    z-index: 999;
}

.container-logo img {
    width: 100px;
    height: auto;
}

.custom-link {
    margin-top: 2%;
    padding: 10px 50px 50px 60px;
    position: absolute;
    margin-right: 90%;
}

.flex-container {
    display: flex;
    justify-content: center;
}

#pessoas {
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}

.box {
    padding: 10px 70px;
    margin-top: 10%;
    margin-right: 10%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(95, 94, 94, 0.5);
}

.heading {
    font-size: 2.5rem;
    line-height: 17px;
    color: #414143;
    font-weight: 600;
    text-align: center;
    margin: 25px;
}

.sub-heading {
    text-align: center;
    font-size: 1.5rem;
    color: #717171;
}

.btn-facebook-google {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.facebook,
.google {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.facebook img,
.google img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.btn-phone-email {
    display: flex;
}

.phone,
.email {
    padding: 15px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
    color: #cbcdd1;
}

.phone {
    margin-right: 20px;
}

button {
    border-radius: 5px;
    border: none;
}

button:hover {
    cursor: pointer;
}

a {
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

.facebook {
    color: white;
    background-color: #4065b4;
    transition: 0.1s;
}

.facebook:hover {
    background-color: #7295e1;
}

.google {
    background-color: white;
    border: 0.5px solid #d8dade;
    transition: 0.1s;
}

.google:hover {
    background-color: #cbcdd1;
}

.phone:hover,
.email:hover {
    background-color: #ea1d2c;
    color: white;
}

.phone-img {
    display: none;
}

/* Estilos específicos para telas menores ou iguais a 768px */
@media only screen and (max-width: 768px) {
    .box {
        margin-top: 5%;
        justify-content: center;
        padding: 10px;
        position: relative;
        z-index: 1;
        margin-top: 35%;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 0 10px rgba(95, 94, 94, 0.5);
        width: calc(80% - 20px);
    }

    .heading {
        line-height: 40px;
    }

    body {
        display: flex;
        justify-content: center;
        background-image: none;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        background-position: top;
    }

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        background-color: #FFE0E6;
        border-radius: 0 0 100% 100%;
        z-index: -1;
    }

    .container-logo {
        width: 100px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 999;
    }

    #pessoas {
        width: 200px;
        height: auto;
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .custom-link {
        display: none;
    }

    .facebook,
    .google {
        padding: 15px;
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: background-color 0.1s;
    }

    .facebook {
        color: white;
    }

    .google {
        color: #414143;
    }

    .facebook img,
    .google img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .facebook:hover {
        background-color: #7295e1;
    }

    .google:hover {
        background-color: #cbcdd1;
    }
}
