body{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: end;
    background-size: contain;
    background-position: left center;
}

.custom-link{
    margin-top: 2%;
    padding: 10px 50px 50px 60px;
    position: absolute;
    margin-right: 90%;
}

.box{
    padding: 10px 70px 10px 70px;
    margin-top: 10%;
    margin-right: 11%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(95, 94, 94, 0.5);
}

.heading{
    font-size: 2.5rem;
    line-height: 17px;
    color: #414143;
    font-weight: 600;
    text-align: center;
    margin: 25px;
}

.sub-heading{
    text-align: center;
    font-size: 1.5rem;
    color: #717171;
}

.btn-facebook-google{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.facebook, .google{
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.facebook img, .google img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.btn-phone-email{
    display: flex;
}

.phone, .email{
    padding: 15px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bolder;
    color:#cbcdd1 ;
}

.phone{
    margin-right: 20px;
}

button{
    border-radius: 5px;
    border: none;
}

button:hover{
    cursor: pointer;
}

a{
    border-radius: 5px;
    border: none;
    text-decoration: none;
    color: inherit;
}

a:hover{
    cursor: pointer;
}

.facebook{
    color: white;
    background-color: #4065b4;
    transition: 0.1s;
}

.facebook:hover{
    background-color: #7295e1;
}

.google{
    background-color: white;
    border: 0.5px solid #d8dade;
    transition: 0.1s;
}

.google:hover{
    background-color: #cbcdd1;
}

.phone:hover, .email:hover{
    background-color: #ea1d2c;
    color: white;
}

.phone-img{
    display: none;
}

@media only screen and (max-width: 768px) {
    .box {
        margin-top: 5%;
        justify-content: center;
        margin-right: 0;
        padding: 10px;
        box-shadow: none;
    }

    .heading{
        line-height: 40px;
    }

    body{
        display: flex;
        justify-content: center;
        background-image: none;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        background-position: top;
    }

    .custom-link{
        display: none;
    }

    .facebook, .google {
        padding: 15px;
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: bold;
        color: white;
        background-color: #4065b4;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: background-color 0.1s;
    }
    
    .facebook img, .google img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    
    .facebook:hover{
        background-color: #7295e1;
    }
    
    .google:hover{
        background-color: #cbcdd1;
    }
    
}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: url('../fonts/iFoodRCTextos-Regular.ttf') format('woff2');
}
